name: Release
on:
  workflow_dispatch:


jobs:
  build:
    uses: ./.github/workflows/build.yaml
    permissions:
      contents: read
      packages: write
      id-token: write
    with:
      mode: release

  release-to-github-and-bump:
    uses: gardener/cc-utils/.github/workflows/release.yaml@master
    needs:
      - build
    secrets: inherit
    permissions:
      contents: write
      packages: write
      id-token: write
    with:
      release-commit-target: branch
      next-version: bump-minor
      slack-channel-id: C0170QTBJUW # #gardener-mcm
